/* General body styling */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 20px;
    background-color: #f9f9f9;
    color: #333;
}

/* Header styling */
h1 {
    color: #0056b3;
    text-align: center;
    margin-bottom: 20px;
}

/* Form styling */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

form button {
    display: inline-block;
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

form button:hover {
    background-color: #004494;
}

/* Styling for results */
h2, h3 {
    text-align: center;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Color preview box */
.color-preview {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* Preview section styling */
#preview-container {
    max-width: 400px;
    margin: 20px auto;
    text-align: center;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#preview-container p {
    margin-bottom: 10px;
    color: #666;
    font-size: 14px;
    text-align: center;
    margin-bottom: 20px;
}

/* Image Preview */
#preview {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: none; 
}

/* Responsive adjustments */
@media (max-width: 500px) {
    #preview-container {
        max-width: 90%; /* Adjust the container width for smaller screens */
    }

    #preview {
        max-height: 150px; /* Reduce image height for smaller screens */
    }
}
